{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load i18n %}
<html>
<head>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

{% block content %}

    {% if request.user.is_authenticated %}

        <!-- {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. -->
        <body style="background-color: azure" id="flow_diagram" >

        <div class="nav-main" role="navigation" style="margin-top: 2.4%">
            <ul>
                <li><a href="/">Logs</a></li>
                <li><a href="/tickets">Active Tickets</a></li>
                <li><a href="/journey">Flow Journey</a></li>
                <li><a href="/mail-data">Mail Data</a></li>
                <li><a href="/templates">Templates</a></li>
                <li><a style="font-weight: bold" href="/cluster">Cluster plot</a></li>
            </ul>
        </div>

        <div style="margin-left: 12.5%; margin-top: -1%;">
            <h3>Clustering plot: </h3>
            <a href="" onclick="reloadPage(); return false;"><img class="toggle" id="reload" src="{% static 'images/reload.png' %}" style="height: 20px; width: 20px" />  Reload Cluster plot</a>
            <a href="{% static '/images/plot.png' %}" target="_blank" > <img data-caption="Cluster plot" src="{% static '/images/plot.png' %}" style="width:70%; height: 78%; border:0;padding-top: 0.5%; padding-bottom: 1% ; display: block; position: absolute; padding-left: 20%; overflow: scroll">
            </a>
            <br/>
        </div>

        <script type="text/javascript">
        	document.addEventListener('DOMContentLoaded', function() {
        	  var elems = document.querySelectorAll('.materialboxed');
        	  var instances = M.Materialbox.init(elems, options);
        	});
        </script>

        <script type="text/javascript">
        $(document).ready(function() {
            $( ".toggle" ).click( function() {
                $("#reload").toggleClass('flip');
            });
        });
        </script>

        </body>
    {% else %}

        {% trans 'Please log in.' %}

    {% endif %}

{% endblock %}

</html>