{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load i18n %}
<html>
<head>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
{% block content %}

    {% if request.user.is_authenticated %}

        <!-- {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. -->
        <body style="background-color: azure" id="flow_diagram" >

        <div class="nav-main" role="navigation">
        <ul>
            <li><a href="/">Demo</a></li>
            <li><a href="/tickets">Active Tickets</a></li>
            <li><a style="font-weight: bold" href="/journey">Flow Journey</a></li>
            <li><a href="/mail-data">Mail Data</a></li>
            <li><a href="/templates">Templates</a></li>
        </ul>
        </div>
        <div style="margin-left: 12.5%">
            <h2>Model Journey scheme.</h2>
        </div>
        <div style="margin-left: 12.5%;">
            <p id="status" style="font-weight: bold">Current status: {{ status }}</p>
            {% if 'Sleeping period' == status %}
            <img src="{% static '/images/flow/1.png' %}" style="width:80%;height: 73%;border:0;padding-top: 0.5%;display: block; position: absolute;"><br/>
            {% elif 'Storing inbox emails in database' == status %}
            <img src="{% static '/images/flow/2.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Checking for new emails' == status %}
            <img src="{% static '/images/flow/3.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Analyzing if Email is Worth Replying' == status %}
            <img src="{% static '/images/flow/4.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Analyzing email content' == status %}
            <img src="{% static '/images/flow/5.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Ask for human help' == status %}
            <img src="{% static '/images/flow/6.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Use email template' == status %}
            <img src="{% static '/images/flow/7.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Using template 1' == status %}
            <img src="{% static '/images/flow/8-1.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Using template 2' == status 
            <img src="{% static '/images/flow/8-2.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Using template 3' == status %}
            <img src="{% static '/images/flow/8-3.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% elif 'Responding email using template' == status %}
            <img src="{% static '/images/flow/9.png' %}" style="width:1000px;height:500px;border:0;padding-top: 20px">
            {% endif %}
        </div>
        <script>

        $(document).ready(function() {
          $.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
          var my_refresh = setInterval(function() {
            $('#flow_diagram').load('/ajax_journey/');
          }, 3000); // Waiting three seconds between calls.
        });

        </script>
        </body>
    {% else %}

        {% trans 'Please log in.' %}

    {% endif %}

{% endblock %}
</html>