<html>
<head>
{% extends 'layouts/default/page.html' %}
{% load static %}
{% load i18n %}


</head>
{% block content %}

    {% if request.user.is_authenticated %}

        <!-- {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. -->
        <body style="background-color: azure"> 
        <div class="nav-main" role="navigation" style="margin-top: 2.4%">
            <ul>
                <li><a href="/">Demo</a></li>
                <li><a href="/tickets">Active Tickets</a></li>
                <li><a href="/journey">Flow Journey</a></li>
                <li><a style="font-weight: bold" href="/mail-data">Mail Data</a></li>
                <li><a href="/templates">Templates</a></li>
            </ul>
        </div>
        <div style="margin-left: 12.5%; overflow: scroll; height: 87%; margin-top: -1%">
            <h3 style="margin-top: -0.5%"> 
            Email Dataset:
            <a href="" onclick="reloadPage(); return false;"><img class="toggle" id="reload" src="{% static 'images/reload.png' %}" style="height: 20px; width: 20px" /> </a>
             </h3>
             <br/>
            {% for key, value in dictionary.items %}
            <div class="alternative_cls">
                {% for key2, nested_value in value.items %}
                    {% for key3, finalValue in nested_value.items %}
			{% if key3 != "Message-ID" and key3 != "In-Reply-To" %}
                        	<a style="font-weight: bold">{{key3}}:</a> <br/>
                        	<a>{{ finalValue }}</a> <br/>
			{% endif %}
                    {% endfor %}
                    {% if key2 == "id" %}
			<a style="font-weight: bold">{{key2}}:</a> <br/>
                        <a>{{ nested_value }}</a><br/>
                    {% endif %}
                {% endfor %}
                <br/>
            </div>
            {% endfor %}
        </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $( ".toggle" ).click( function() {
                $("#reload").toggleClass('flip');
            });
        });
        </script>

        </body>

    {% else %}

        {% trans 'Please log in.' %}

    {% endif %}

{% endblock %}

</html>
