<html>
<head>
{% extends 'layouts/default/page.html' %}

{% load i18n %}

</head>
{% block content %}

    {% if request.user.is_authenticated %}

        <!-- {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. -->
        <body style="background-color: azure">
        <div class="nav-main" role="navigation" style="margin-top: 2.4%">
            <ul>
                <li><a href="/">Logs</a></li>
                <li><a href="/tickets">Active Tickets</a></li>
                <li><a style="font-weight: bold" href="/journey">Flow Journey</a></li>
                <li><a href="/mail-data">Mail Data</a></li>
                <li><a href="/templates">Templates</a></li>
                <li><a href="/cluster">Cluster plot</a></li>
            </ul>
        </div>
        <div style="margin-left: 12.5%; overflow: scroll; height: 87%; margin-top: -1%">
            <h3 style="margin-top: -0.5%">Templates</h3><br/>
            {% for key, value in templates.items %} 
            <div class="alternative_cls">
                <a style="font-weight: bold">{{key}}: </a><a>{{value}}</a><br/><br/>
            </div>
            {% endfor %}
        </div>

        </body>

    {% else %}

        {% trans 'Please log in.' %}

    {% endif %}

{% endblock %}
</html>