<html>
<head>
{% extends 'layouts/default/page.html' %}

{% load i18n %}

</head>
{% block content %}

    {% if request.user.is_authenticated %}

        <!-- {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. -->
        <body style="background-color: azure">
        <div class="nav-main" role="navigation">
        <ul>
            <li><a href="/">Demo</a></li>
            <li><a href="/tickets">Active Tickets</a></li>
            <li><a href="/journey">Flow Journey</a></li>
            <li><a href="/mail-data">Mail Data</a></li>
            <li><a style="font-weight: bold" href="/templates">Templates</a></li>
        </ul>
        </div>
        <div style="margin-left: 12.5%">
            <a>Templates:</a>
            <ul>
                <li>Template 1: <br/></li>
                <a style="padding-left: 10px">{{templates.template1}}</a>
                <li>Template 2: <br/></li>
                <a style="padding-left: 10px">Whatever this template does</a>
            </ul>
        </div>

        </body>

    {% else %}

        {% trans 'Please log in.' %}

    {% endif %}

{% endblock %}
</html>